/* GENERALE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
}

.container-generale{
    margin: auto 300px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.round {
    border-radius: 10px;
}

/* INIZIO HEADER */

.header-top {
    height: 112px;
    margin-bottom: 30px;
}

nav>ul>li {
    display: inline-block;
    font-size: 20px;
    margin-right: 1rem;
    margin-bottom: 3rem;
}

nav>ul>li>a {
    text-decoration: none;
    text-transform: uppercase;
}

.grey {
    color: rgb(149, 149, 149);
}

#logo-ne {
    width: 13%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header-jumbotron {
    padding: 300px 40% 100px 60px;
    background-image: url('../img/banner.jpg');
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    margin-top: 40px;
}

.layover {
    background-color: rgba(0, 0, 0, 0.25); 
    filter: brightness(50%);
    height: 100%;
    width: 100%;
    z-index: 999;
}

/* FINE HEADER */

/* INIZIO MAIN */

/* Titolo main */

.container-main {
    margin-bottom: 15px;
}

.titolo-main {
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
}

/* Aside */

.aside {
    width: 20%;
}

.col-left,
.col-right {
    width: calc((100% - 50% - 2rem) / 2);
}

.corpo-main{
    width: 50%;
    margin: 0 1rem 0 1rem;
}

.img-box {
    height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* FINE MAIN */

/* INIZIO FOOTER */

.contenuto-footer {
    margin-bottom: 5px;
}

.red {
    color: red;
    text-align: center;
}

/* #################### DEBUG #################### */

/*.debug .header-top {
    background-color: #e579e6;
} 

.debug .header-jumbotron {
    background-color: #e1d67a;
}

.debug.container-main {
    background-color: #0086ff;
}

.debug .titolo-main {
    background-color: #abcfe7;
}

.debug .aside {
    background-color: #96cfe9;
}

.debug .corpo-main {

    background-color: #96cfe9;
}

.debug.container-footer {
    background-color: #8801fe;
}
*/